<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.mapper.EmployeeMapper">
    <insert id="insertEmployee">
        insert into mybatis.employee (name, email, gender, departmentId, birth)
         values (#{name},#{email},#{gender},#{departmentId},#{birth})
    </insert>

    <select id="listEmployee" resultType="Employee">
        select * from mybatis.employee
    </select>

    <update id="updateEmployee" parameterType="Employee">
        update mybatis.employee set name=#{name},email=#{email},departmentId=#{departmentId},birth=#{birth} where id=#{id}
    </update>

    <select id="getEmployeeById" resultType="Employee">
        select * from mybatis.employee where id=#{id}
    </select>

    <delete id="deleteEmployeeBYId">
        delete from mybatis.employee where id=#{id}
    </delete>
</mapper>